---
import Grid from "components/@common/Grid.astro";
import data from "data/notre-manifeste/introduction.yaml";
import Brush from "components/@common/Brush.astro";
import BackgroundForm1 from "components/BackgroundForm1.astro";
---

<section
  class="overflow-hidden pb-[328px] mb-[-328px] lg:pt-[350px] lg:mt-[-350px] lg:pb-[312px] lg:mb-[-312px]"
>
  <div class="container">
    <Grid>
      <div class="col-span-full lg:col-start-2 lg:col-span-6">
        <div class="isolate relative">
          <Brush
            id={1}
            class="absolute z-[-1] left-1/2 max-lg:translate-x-[calc(-50%-60px)] lg:left-auto lg:right-[-202px] top-[calc(100%-60px)] lg:top-[-22px] w-[214px] h-[254px] lg:w-[321px] lg:h-[381px]"
          />
          <Brush
            id={4}
            class="absolute z-[-2] right-1/2 max-lg:translate-x-[calc(-50%+280px)] lg:right-[-361px] top-[calc(100%-60px)] lg:top-[-22px] lg:w-[383px] lg:h-[381px] w-[255px] h-[254px]"
          />
          <BackgroundForm1
            class="absolute z-[-3] right-1/2 max-lg:translate-x-[calc(-50%+880px)] max-lg:-bottom-[200px] lg:right-[-770px] lg:-bottom-[100px] 2xl:right-[-1060px] 2xl:bottom-[-160px]"
          />
          <div class="p-10 bg-surface7 rounded-[26px]">
            <p class="text-body-medium">
              {data.content}
            </p>
          </div>
        </div>
      </div>
    </Grid>
  </div>
</section>
