---
import Grid from "../../@common/Grid.astro";
import data from "../../../data/notre-manifeste/introduction.yaml";
import Brush from "../../@common/Brush.astro";
import BackgroundForm1 from "../../BackgroundForm1.astro";
---

<section
  class="overflow-hidden pb-[328px] mb-[-328px] 2xl:pt-[350px] 2xl:mt-[-350px] 2xl:pb-[312px] 2xl:mb-[-312px]"
>
  <div class="container">
    <Grid>
      <div class="col-span-full 2xl:col-start-2 2xl:col-span-6">
        <div class="isolate relative">
          <Brush
            id="1"
            class="absolute z-[-1] left-0 2xl:left-auto 2xl:right-[-202px] top-[calc(100%-60px)] 2xl:top-[-22px] w-[214px] h-[254px] 2xl:w-[321px] 2xl:h-[381px]"
          />
          <Brush
            id="4"
            class="absolute z-[-2] right-0 2xl:right-[-361px] top-[calc(100%-60px)] 2xl:top-[-22px] 2xl:w-[383px] 2xl:h-[381px] w-[255px] h-[254px]"
          />
          <BackgroundForm1
            class="absolute z-[-3] right-[-395px] bottom-[-251px] 2xl:right-[-1060px] 2xl:bottom-[-160px]"
          />
          <div class="p-10 bg-surface7 rounded-[26px]">
            <p class="text-body-medium">
              {data.content}
            </p>
          </div>
        </div>
      </div>
    </Grid>
  </div>
</section>
