---
import Grid from "../../@common/Grid.astro";
import dataIntroduction from "../../../data/notre-manifeste/introduction.yaml";
import Brush from "../../@common/Brush.astro";
import BackgroundForm1 from "../../BackgroundForm1.astro";
---

<section class="overflow-hidden xl:mt-[-287px] xl:mb-[-75px]">
  <div class="container xl:pt-[287px] pb-[308px]">
    <Grid>
      <div class="xl:col-start-2 xl:col-span-6 mt-[68px]">
        <div class="isolate relative">
          <Brush
            id="1"
            class="absolute z-[-1] right-[-202px] top-[-22px] w-[321px] h-[381px]"
          />
          <Brush
            id="4"
            class="absolute z-[-2] right-[-361px] top-[-22px] w-[383px] h-[381px]"
          />
          <BackgroundForm1
            class="absolute z-[-3] right-[-1050px] bottom-[-160px] rotate-[-31deg]"
          />
          <div class="p-10 bg-surface7 rounded-[26px]">
            <p class="text-body-medium">
              {dataIntroduction.content}
            </p>
          </div>
        </div>
      </div>
    </Grid>
  </div>
</section>
