---
import TeamUXStamp from "../../TeamUXStamp.astro";
import Image from "../../@common/Image.astro";
---

<section class="container">
  <div class="flex justify-center mb-[50px] lg:mb-0">
    <TeamUXStamp />
  </div>
  <div
    class="flex flex-col lg:flex-row items-center justify-center max-lg:space-y-[60px] lg:space-x-8"
  >
    <div class="flex flex-col items-center max-lg:space-y-2.5 lg:space-y-4">
      <Image
        srcSet={["/images/signature-yuna.png"]}
        width={210}
        height={111}
        alt="Signature de Yuna Orsini"
      />
      <span class="text-label-medium-bold">Yuna Orsini</span>
    </div>
    <div class="flex flex-col items-center space-y-4">
      <Image
        srcSet={["/images/signature-daniela.png"]}
        width={210}
        height={111}
        alt="Signature de Yuna Orsini"
      />
      <span class="text-label-medium-bold">Daniela Peñaranda</span>
    </div>
  </div>
</section>
