---
import Layout from "../../layouts/Layout.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import Contact from "../../components/Contact.astro";
import Footer from "../../components/Footer.astro";
import Hero from "../../components/pages/notre-manifeste/Hero.astro";
import Introduction from "../../components/pages/notre-manifeste/Introduction.astro";
import Convictions from "../../components/pages/notre-manifeste/Convictions.astro";
import Actions from "../../components/pages/notre-manifeste/Actions.astro";
import Signature from "../../components/pages/notre-manifeste/Signature.astro";
---

<Layout title="Notre manifeste">
  <div class="hidden lg:block lg:mb-[90px]">
    <Breadcrumb />
  </div>

  <div class="max-sm:mt-[60px] mb-20 2xl:mb-[140px]">
    <Hero />
  </div>

  <div class="mb-[335px] 2xl:mb-[240px]">
    <Introduction />
  </div>

  <div class="mb-[100px] 2xl:mb-[144px]">
    <Convictions />
  </div>

  <div class="mb-[160px] 2xl:mb-[60px]">
    <Actions />
  </div>

  <div class="mb-[150px] 2xl:mb-[160px]">
    <Signature />
  </div>

  <div class="mb-[150px] 2xl:mb-[170px]">
    <Contact />
  </div>

  <Footer />
</Layout>
