---
import Layout from "../../layouts/Layout.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import Contact from "../../components/Contact.astro";
import Footer from "../../components/Footer.astro";
import Hero from "../../components/pages/notre-manifeste/Hero.astro";
import Introduction from "../../components/pages/notre-manifeste/Introduction.astro";
import Convictions from "../../components/pages/notre-manifeste/Convictions.astro";
import Actions from "../../components/pages/notre-manifeste/Actions.astro";
import Signatures from "../../components/pages/notre-manifeste/Signatures.astro";
---

<Layout
  title="Team UX - Notre manifeste"
  description="Découvrez les convictions qui guident nos choix de conception UX et nos actions au quotidien."
>
  <div class="hidden md:block mb-[90px]">
    <Breadcrumb />
  </div>

  <div class="max-md:mt-[60px] mb-20 lg:mb-[140px]">
    <Hero />
  </div>

  <div class="mb-[335px] lg:mb-[240px]">
    <Introduction />
  </div>

  <div class="mb-[100px] lg:mb-[144px]">
    <Convictions />
  </div>

  <div class="mb-[160px] lg:mb-[60px]">
    <Actions />
  </div>

  <div class="mb-[150px] lg:mb-[160px]">
    <Signatures />
  </div>

  <div class="mb-[150px] lg:mb-[170px]">
    <Contact />
  </div>

  <Footer />
</Layout>
