---
import Layout from "../../layouts/Layout.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import Contact from "../../components/Contact.astro";
import Footer from "../../components/Footer.astro";
import Hero from "../../components/pages/mentions-legales/Hero.astro";
import Content from "../../components/pages/mentions-legales/Content.astro";
---

<Layout
  title="Team UX - Mentions légales"
  description="Page des mentions légales du site team-ux.com."
>
  <div class="hidden md:block mb-[90px]">
    <Breadcrumb />
  </div>

  <div class="max-md:mt-[60px] mb-[60px]">
    <Hero />
  </div>

  <div class="mb-[200px] lg:mb-[160px]">
    <Content />
  </div>

  <div class="mb-[150px] lg:mb-[170px]">
    <Contact showBackgroundForm={false} />
  </div>

  <Footer />
</Layout>
