---
import Contact from "../../components/Contact.astro";
import Footer from "../../components/Footer.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import Content from "../../components/pages/plan-du-site/Content.astro";
import Hero from "../../components/pages/plan-du-site/Hero.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Team UX - Plan du site" description="Plan du site team-ux.com.">
  <div class="hidden md:block mb-[90px]">
    <Breadcrumb />
  </div>

  <div class="max-md:mt-[60px] mb-[60px] 2xl:mb-20">
    <Hero />
  </div>

  <div class="mb-[200px] 2xl:mb-20">
    <Content />
  </div>

  <div class="mb-[150px]">
    <Contact showBackgroundForm={false} />
  </div>

  <Footer />
</Layout>
