---
import Icon from "../@common/Icon.astro";
---

<button
  id="scroll-to-top-button"
  class="fixed
    right-[20px]
    bottom-[20px]
    w-[102px]
    max-md:hidden
    hidden
    items-center
    gap-[7px]
    px-2
    py-[5px]
    text-label-small
    text-neutral4
    text-right
    rounded-[10px]
    bg-primary
    lg:flex
    lg:transition
    lg:hover:bg-secondary"
  title="Revenir en haut de la page"
>
  <span class="hidden flex-1 md:block">revenir<br />en haut</span>
  <Icon name="arrow_up" width={24} height={24} />
</button>

<style>
  #scroll-to-top-button {
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms ease;
  }

  #scroll-to-top-button :global(svg) {
    transition: transform 700ms cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(5px);
  }

  #scroll-to-top-button.show {
    opacity: 1;
    pointer-events: auto;
  }

  #scroll-to-top-button.show :global(svg) {
    transform: translateY(0);
  }
</style>

<script src="./index.ts"></script>
