# RewriteEngine on
# force https
# RewriteCond %{HTTPS} off
# RewriteRule (.*) https://team-ux.com/$1 [R=301,L] [OR]
# RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
# RewriteRule ^ %{REQUEST_SCHEME}://%1%{REQUEST_URI} [R=301,L]

ErrorDocument 404 /404.html

Redirect 301 /manifeste /notre-manifeste/
Redirect 301 /manifesto /notre-manifeste/
Redirect 301 /expertises /glossaire-ux-design/
Redirect 301 /projects/transformation-client-transformation-digitale-trexpress /projets/
Redirect 301 /project/transformation-client-transformation-digitale-trexpress /projets/
Redirect 301 /project/experience-client-journey-indoor-cycling-bordeaux /projets/
Redirect 301 /project/design-ux-presse-en-ligne-startup-poool /projets/
