---
interface Props {
  title?: string;
  children: any;
}

const { title } = Astro.props;
---

<div class="p-10 bg-neutral4 rounded-[26px]">
  {title && <h3 class="text-headline-small mb-5">{title}</h3>}
  <div class="block-content text-body-medium">
    <slot />
  </div>
</div>

<script>
  const blockContents = document.querySelectorAll(".block-content");

  blockContents.forEach((blockContent) => {
    let contentHTML = blockContent.innerHTML;

    for (const [match, encodedContent] of contentHTML.matchAll(
      /\{\{\{(.+?)\}\}\}/g,
    )) {
      contentHTML = contentHTML.replace(match, window.atob(encodedContent));
    }

    blockContent.innerHTML = contentHTML;
  });
</script>
