---
interface Props {
  title?: string;
  children: any;
}

const { title } = Astro.props;
---

<div class="p-5 lg:p-10 bg-neutral4 rounded-[26px]">
  {title && <h3 class="text-headline-small mb-5">{title}</h3>}
  <div class="block-content text-body-medium">
    <slot />
  </div>
</div>

<script>
  if (!String.prototype.matchAll) {
    String.prototype.matchAll = matchAll;

    function matchAll(rx) {
      if (typeof rx === "string") rx = new RegExp(rx, "g"); // coerce a string to be a global regex
      rx = new RegExp(rx); // Clone the regex so we don't update the last index on the regex they pass us
      let cap = []; // the single capture
      let all = []; // all the captures (return this)
      while ((cap = rx.exec(this)) !== null) all.push(cap); // execute and add
      return all; // profit!
    }
  }

  const blockContents = document.querySelectorAll(".block-content");

  blockContents.forEach((blockContent) => {
    let contentHTML = blockContent.innerHTML;

    for (const [match, encodedContent] of contentHTML.matchAll(
      /\{\{\{(.+?)\}\}\}/g,
    )) {
      contentHTML = contentHTML.replace(match, window.atob(encodedContent));
    }

    blockContent.innerHTML = contentHTML;
  });
</script>
