---
import Layout from "../../layouts/Layout.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import Contact from "../../components/Contact.astro";
import Footer from "../../components/Footer.astro";
import Hero from "../../components/pages/glossaire-ux-design/Hero.astro";
import Glossaire from "../../components/pages/glossaire-ux-design/Glossaire.astro";
---

<Layout title="Glossaire de l’UX design">
  <div class="hidden lg:block lg:mb-[90px]">
    <Breadcrumb />
  </div>

  <div class="my-[60px]">
    <Hero />
  </div>

  <div class="mb-[200px]">
    <Glossaire />
  </div>

  <div class="mb-[150px] 2xl:mb-[170px]">
    <Contact />
  </div>

  <Footer />
</Layout>
