---
import Layout from "../../layouts/Layout.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import Contact from "../../components/Contact.astro";
import Footer from "../../components/Footer.astro";
import Hero from "../../components/pages/glossaire-ux-design/Hero.astro";
import Glossaire from "../../components/pages/glossaire-ux-design/Glossaire.astro";
import ScrollToTop from "../../components/ScrollToTop/index.astro";
---

<Layout
  title="Team UX - Glossaire de l’UX design"
  description="Nous avons défini de nombreux termes techniques utilisés dans le domaine du design UX pour parler d’outils de design, de livrables UX ou de méthodes de travail."
  og_title="Le glossaire de l’UX design 🤓 vu par Team UX"
  og_description="Le vocabulaire de l’UX design décrypté... Clarifions des termes que nous utilisons sur notre site ou dans nos devis pour parler d’un outil de design, d’un livrable UX ou d’une méthode de travail !"
>
  <div class="hidden md:block mb-[90px]">
    <Breadcrumb />
  </div>

  <div class="max-md:mt-[60px] mb-[60px]">
    <Hero />
  </div>

  <div class="mb-[200px]">
    <Glossaire />
  </div>

  <div class="mb-[150px] lg:mb-[170px]">
    <Contact />
  </div>

  <Footer />

  <ScrollToTop />
</Layout>
