---
import Layout from "../../layouts/Layout.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import Contact from "../../components/Contact.astro";
import Footer from "../../components/Footer.astro";
import Hero from "../../components/pages/glossaire-ux-design/Hero.astro";
import Glossaire from "../../components/pages/glossaire-ux-design/Glossaire.astro";
import ScrollToTop from "../../components/ScrollToTop/index.astro";
---

<Layout
  title="Team UX - Glossaire de l’UX design"
  description="Nous avons défini de nombreux termes techniques utilisés dans le domaine du design UX pour parler d’outils de design, de livrables UX ou de méthodes de travail."
>
  <div class="hidden md:block mb-[90px]">
    <Breadcrumb />
  </div>

  <div class="max-md:mt-[60px] mb-[60px]">
    <Hero />
  </div>

  <div class="mb-[200px]">
    <Glossaire />
  </div>

  <div class="mb-[150px] 2xl:mb-[170px]">
    <Contact />
  </div>

  <Footer />

  <ScrollToTop />
</Layout>
