---
const { outerGap = true } = Astro.props;
---

<div
  class:list={[
    "grid",
    "gap-y-0",
    "gap-x-[20px]",
    "grid-cols-4",
    "md:grid-cols-8",
    "xl:gap-x-[30px]",
    "xl:grid-cols-12",
    {
      "px-[20px]": outerGap,
      "xl:px-0": outerGap,
    },
  ]}
>
  <slot />
</div>
