---
import { HTMLAttributes } from "astro/types";
import Icon, { type Props as IconProps } from "./Icon.astro";

interface Props extends HTMLAttributes<"a"> {
  children: any;
  type?: "primary" | "secondary";
  rightIcon?: IconProps["name"];
}

const {
  href,
  rightIcon,
  type = "primary",
  class: cssClasses,
  ...props
} = Astro.props;

const isPrimary = type === "primary";
const isSecondary = type === "secondary";
---

<a
  href={href}
  class:list={[
    cssClasses,
    "flex",
    "items-center",
    "gap-2",
    "underline-offset-[4px]",
    "hover:underline",
    {
      "text-primary": isPrimary,
      "text-label-medium-bold": isPrimary,
    },
    {
      "text-secondary": isSecondary,
      "text-label-medium": isSecondary,
    },
  ]}
  {...props}
>
  <slot />
  {rightIcon && <Icon name={rightIcon} width="18px" height="18px" />}
</a>
