---
import dataYuna from "../../../data/nos-deux-profils/yuna.yaml";
import dataDaniela from "../../../data/nos-deux-profils/daniela.yaml";
import Grid from "../../@common/Grid.astro";
import Brush from "../../@common/Brush.astro";
import Yuna from "../../images/Yuna.astro";
import Daniela from "../../images/Daniela.astro";
import Profile from "./Profile.astro";
---

<section class="container">
  <Grid class="gap-y-8 lg:gap-y-0">
    <div class="col-span-full lg:col-start-2 lg:col-span-5">
      <Profile profile={dataYuna}>
        <div
          slot="picture"
          class="flex flex-[0_0_129px] lg:flex-[0_0_142px] lg:justify-center relative isolate"
        >
          <Brush
            id="1"
            class="absolute z-[-1] w-[129px] lg:w-[142px] left-0 bottom-0 rotate-[180deg]"
          />
          <Yuna
            width={82}
            height={204}
            class="ml-6 lg:w-[89px] lg:h-[220px]"
            alt="Portrait de Yuna Orsini"
          />
        </div>
      </Profile>
    </div>
    <div class="col-span-full lg:col-span-5">
      <Profile profile={dataDaniela}>
        <div
          slot="picture"
          class="flex flex-[0_0_129px] lg:flex-[0_0_164px] lg:justify-center relative isolate"
        >
          <Brush
            id="2"
            class="absolute z-[-1] w-[129px] lg:w-[164px] left-0 bottom-[11px] rotate-[90deg]"
          />
          <Daniela
            width={82}
            height={204}
            class="ml-6 lg:w-[89px] lg:h-[220px]"
            alt="Portrait de Daniela Peñaranda"
          />
        </div>
      </Profile>
    </div>
  </Grid>
</section>
