---
import Curve from "./Curve.astro";

interface Props {
  children: any;
}
---

<div>
  <Curve />

  <slot />

  <Curve />
</div>

<style>
  @reference "../../styles/base.css";

  div :global(.curve) {
    width: 100%;
    height: 10px;

    &:last-of-type {
      transform: scaleY(-1);
    }

    @variant 2xl {
      height: 145px;
    }
  }
</style>
