---
import data from "data/demarche-eco-conception/data.yaml";
import Grid from "components/@common/Grid.astro";
import Section from "./Section.astro";
import Block from "./Block.astro";
---

<div class="demarche-eco-conception container">
  <Grid class="gap-y-5">
    <h2 class="col-span-full lg:col-start-2 mb-10 text-headline-large">
      Mesures sur ce site
    </h2>

    <div
      class="col-span-full md:col-span-2 lg:col-start-2 lg:col-span-3 mb-5 md:mb-0"
    >
      <div class="md:h-full bg-surface5 p-8 rounded-[26px]">
        <h3 class="text-label-large mb-5">Score EcoIndex moyen d’une page</h3>
        <p class="text-headline-medium-bold mb-8">B (76,4/100)</p>
        <p class="text-label-medium">
          La meilleure note possible est A <br />
           Le meilleur score possible est 100
        </p>
      </div>
    </div>

    <div class="col-span-full md:col-span-2 lg:col-span-3 mb-5 md:mb-0">
      <div class="md:h-full bg-surface5 p-8 rounded-[26px]">
        <h3 class="text-label-large mb-5">Score EcoGrader moyen d’une page</h3>
        <p class="text-headline-medium-bold mb-8">99/100</p>
        <p class="text-label-medium">
          Un meilleur score que 95% de toutes URLs testées par Ecograder
        </p>
      </div>
    </div>

    <div class="col-span-full md:col-span-2 lg:col-span-3 mb-5 md:mb-0">
      <div class="md:h-full bg-surface5 p-8 rounded-[26px]">
        <h3 class="text-label-large mb-5">Poids moyen d’une page</h3>
        <p class="text-headline-medium-bold mb-8">138,7 ko</p>
        <p class="text-label-medium">
          Un poids 94% inférieur au poids médian d’une page Web desktop selon
          HTTPArchive
        </p>
      </div>
    </div>

    <div class="col-span-full lg:col-start-2 lg:lg:col-span-9 mb-5">
      <div class="bg-surface5 p-8 rounded-[26px]">
        <h3 class="text-label-large mb-2.5">
          Scores PageSpeed moyens d’une page
        </h3>
        <h3 class="text-label-small mb-5">
          Performance - Accessibilité - Bonnes pratiques
        </h3>
        <p class="text-headline-medium-bold">100/100 - 100/100 - 100/100</p>
      </div>
    </div>
  </Grid>

  <div class="my-20 lg:mb-[120px]">
    <Grid>
      <h3 class="col-span-full lg:col-start-2 mb-5 text-headline-small">
        Détail par page
      </h3>
    </Grid>
    <Grid class="max-sm:!px-0">
      <div
        class="overflow-x-auto col-span-full lg:col-start-2 lg:col-span-9 px-5 sm:px-0"
      >
        <table class="w-full mb-5 border-collapse border border-neutral2">
          <thead class="bg-neutral4">
            <tr>
              <th class="w-[310px] whitespace-nowrap">Page</th>
              <th class="w-[193px] whitespace-nowrap">Poids</th>
              <th class="w-[274px] whitespace-nowrap">Scores EcoIndex</th>
              <th class="w-[274px] whitespace-nowrap">Scores EcoGrader</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Accueil</td>
              <td>197 ko</td>
              <td>B (75/100)</td>
              <td>98/100</td>
            </tr>
            <tr>
              <td>Projets</td>
              <td>193 ko</td>
              <td>C (57/100)</td>
              <td>99/100</td>
            </tr>
            <tr>
              <td>Témoignages</td>
              <td>107 ko</td>
              <td>A (85/100)</td>
              <td>99/100</td>
            </tr>
            <tr>
              <td>Nos 2 profils</td>
              <td>149 ko</td>
              <td>A (81/100)</td>
              <td>99/100</td>
            </tr>
            <tr>
              <td>Notre manifeste</td>
              <td>163 ko</td>
              <td>A (83/100)</td>
              <td>99/100</td>
            </tr>
            <tr>
              <td>Mentions légales</td>
              <td>107 ko</td>
              <td>A (85/100)</td>
              <td>99/100</td>
            </tr>
            <tr>
              <td>Plan du site</td>
              <td>104 ko</td>
              <td>A (87/100)</td>
              <td>99/100</td>
            </tr>
            <tr>
              <td>Glossaire UX design</td>
              <td>119 ko</td>
              <td>C (58/100)</td>
              <td>99/100</td>
            </tr>
            <tr>
              <td>Démarche d’éco-conception</td>
              <td>110 ko</td>
              <td>B (77/100)</td>
              <td>99/100</td>
            </tr>
          </tbody>
        </table>
      </div>
    </Grid>

    <Grid>
      <p class="col-span-full lg:col-start-2 text-body-medium">
        Scores mesurés le 26 octobre 2023.
      </p>
    </Grid>
  </div>

  <Grid>
    <div
      class="col-span-full lg:col-start-2 lg:col-span-10 space-y-[60px] lg:space-y-[140px]"
    >
      {
        data.content.map((section) => {
          return (
            <Section title={section.title}>
              <div
                class:list={[
                  "space-y-5",
                  {
                    "lg:w-[50%]": section.grid_span === 5,
                    "lg:w-[69%]": section.grid_span === 7,
                  },
                ]}
              >
                {section.blocks.map((block) => {
                  return (
                    <Block title={block.title}>
                      {block.content.map((content) => {
                        if ("paragraph" in content) {
                          return <p set:html={content.paragraph} />;
                        }

                        if ("list" in content) {
                          return (
                            <ul class="ml-7 list-disc list-outside">
                              {content.list.map((item) => (
                                <li>
                                  <p class="ml-1" set:html={item} />
                                </li>
                              ))}
                            </ul>
                          );
                        }
                      })}
                    </Block>
                  );
                })}
              </div>
            </Section>
          );
        })
      }
    </div>
  </Grid>
</div>

<style>
  .demarche-eco-conception {
    & :global(ul) {
      & :global(ul) {
        list-style: circle;
        margin-left: 30px;
      }
    }

    :global(a) {
      @apply text-primary underline underline-offset-[4px];
    }
  }

  table {
    th,
    td {
      @apply p-2.5 text-left whitespace-nowrap;
    }

    thead,
    td {
      @apply border-b border-neutral2;
    }
  }
</style>
