---
import CommonPageHero from "components/CommonPageHero.astro";
---

<div>
  <CommonPageHero
    title="Démarche d’éco-conception"
    subtitle="<span class='block lg:text-body-medium'>Ce site est éco-conçu. Cette page décrit la démarche d’éco-conception que nous suivons.<br>Dernière mise à jour : <time datetime='2023-10-22'>22 octobre 2023</time>.</span>"
    showBackgroundForm={false}
  />
</div>

<style>
  div :global(h2) {
    @apply col-span-full lg:col-start-2 lg:col-span-7;
  }
</style>
