---
interface Props {
  title: string;
  children: any;
}

const { title } = Astro.props;
---

<section>
  <h2 class="mb-6 lg:mb-10 text-headline-extra-large lg:text-headline-large">
    {title}
  </h2>
  <slot />
</section>
