---
import Grid from "components/@common/Grid.astro";
import CallToAction from "components/@common/CallToAction.astro";
---

<section class="container">
  <Grid>
    <div class="col-span-full lg:col-start-2 lg:col-span-6">
      <div
        class="flex flex-col max-lg:space-y-8 lg:space-y-5 p-5 lg:p-10 bg-neutral4 rounded-[26px]"
      >
        <h2 class="text-headline-small">Arborescence principale :</h2>
        <ul class="ml-7 list-disc list-outside !text-body-medium">
          <li>
            <CallToAction href="/" variant="transparent">
              Page d’accueil
            </CallToAction>
          </li>
          <li>
            Références
            <ul class="ml-7 list-disc list-outside text-body-medium">
              <li>
                <CallToAction href="/projets" variant="transparent">
                  Projets
                </CallToAction>
              </li>
              <li>
                <CallToAction href="/temoignages" variant="transparent">
                  Témoignages
                </CallToAction>
              </li>
            </ul>
          </li>
          <li>
            Team UX
            <ul class="ml-7 list-disc list-outside">
              <li>
                <CallToAction href="/nos-deux-profils" variant="transparent">
                  Nos 2 profils
                </CallToAction>
              </li>
              <li>
                <CallToAction href="/notre-manifeste" variant="transparent">
                  Notre manifeste
                </CallToAction>
              </li>
            </ul>
          </li>
        </ul>

        <h2 class="text-headline-small">Arborescence secondaire :</h2>
        <ul class="ml-7 list-disc list-outside text-body-medium">
          <li>
            <CallToAction href="/plan-du-site" variant="transparent">
              Plan du site
            </CallToAction>
          </li>
          <li>
            <CallToAction href="/mentions-legales" variant="transparent">
              Mentions légales
            </CallToAction>
          </li>
          <li>
            <CallToAction href="/glossaire-ux-design" variant="transparent">
              Glossaire UX
            </CallToAction>
          </li>
          <li>
            <CallToAction href="/demarche-eco-conception" variant="transparent">
              Démarche d’éco-conception
            </CallToAction>
          </li>
        </ul>
      </div>
    </div>
  </Grid>
</section>

<style>
  ul {
    li {
      line-height: 44px;

      & :global(a) {
        @apply underline;
      }
    }

    li::marker {
      @apply text-primary;
    }

    & :global(a) {
      @apply text-inherit;
      font-weight: 500 !important;
    }
  }
</style>
