---
import data from "../../../../data/projets/all-projects.yaml";
import Brush from "../../../../components/@common/Brush.astro";
import Grid from "../../../../components/@common/Grid.astro";
import CallToAction from "../../../@common/CallToAction.astro";
import LargeProject from "./LargeProject/index.astro";
import SmallProject from "./SmallProject.astro";
---

<section class="container">
  <div class="flex flex-col gap-[120px] 2xl:gap-[140px]">
    {
      data.map((projectsGroup, index) => {
        if (projectsGroup.group_project_display === "large") {
          return (
            <div
              class="relative projects-group isolate px-5 2xl:px-0"
              data-group-index={index}
              data-group-display="large"
            >
              {index === 0 && (
                <Brush
                  id="4"
                  class:list={[
                    "hidden",
                    "2xl:block",
                    "absolute",
                    "z-[-1]",
                    "right-[-20px]",
                    "top-[-207px]",
                    "w-[490px]",
                    "h-[487px]",
                  ]}
                />
              )}

              <ul class="flex flex-col gap-8">
                {projectsGroup.projects.map((project) => {
                  return (
                    <li>
                      <LargeProject project={project} />
                    </li>
                  );
                })}
              </ul>
            </div>
          );
        } else {
          return (
            <div
              class="relative projects-group isolate"
              data-group-index={index}
              data-group-display="small"
            >
              <Grid>
                <ul class="col-span-full 2xl:col-start-2 2xl:col-span-10 2xl:columns-2 2xl:gap-8 space-y-2.5 2xl:space-y-5">
                  {projectsGroup.projects.map((project) => {
                    return (
                      <li>
                        <SmallProject project={project} />
                      </li>
                    );
                  })}
                </ul>
              </Grid>
            </div>
          );
        }
      })
    }
  </div>
  <div class="flex justify-center mt-10 2xl:mt-[60px]">
    <CallToAction href="/temoignages" type="secondary" rightIcon="forward">
      Découvrir les témoignages
    </CallToAction>
  </div>
</section>
