---
import Tag from "../../../@common/Tag.astro";
import Picture from "../../../@common/Picture.astro";

interface Props {
  projects: {
    name: string;
    title: string;
    skills: string[];
  };
}

const { project } = Astro.props;
---

<div class="p-5 lg:p-10 bg-surface5 rounded-[26px]">
  <Picture
    class="mb-8 rounded-[12px] border border-neutral3"
    src={import(`../../../../images/projets/logos/logo-${project.logo}.png`)}
    width={200}
    height={80}
  />

  <p class="mb-5 text-headline-small lg:text-label-large">
    {project.name}
  </p>
  <h3 class="mb-8 text-headline-medium-bold">
    {project.title}
  </h3>
  <ul class="flex flex-wrap -mx-[5px]">
    {
      project.skills.map((skill) => {
        return (
          <li class="m-[5px]">
            <Tag name={skill} />
          </li>
        );
      })
    }
  </ul>
</div>
