---
import data from "data/temoignages/all-testimonials.yaml";
import Testimonial from "components/Testimonial.astro";
---

<section class="container mb-[200px] lg:mb-0">
  <ul class="responsive-wrapper md:columns-2 xl:columns-3 xl:gap-8">
    {
      data.map((testimonial, index) => {
        return (
          <li class:list={["mb-5", "break-inside-avoid"]}>
            <Testimonial testimonial={testimonial} />
          </li>
        );
      })
    }
  </ul>
</section>
