---
import data from "../../../data/temoignages/all-testimonials.yaml";
import Testimonial from "../../Testimonial.astro";
---

<section class="container mb-[200px] lg:mb-0">
  <ul class="responsive-wrapper md:columns-2 xl:columns-3 xl:gap-8 space-y-5">
    {
      data.map((testimonial) => {
        return (
          <li class="break-inside-avoid">
            <Testimonial testimonial={testimonial} />
          </li>
        );
      })
    }
  </ul>
</section>
