---
import data from "../../../data/temoignages/all-testimonials.yaml";
import Testimonial from "../../Testimonial.astro";
---

<section class="container">
  <ul class="xl:columns-3 xl:gap-8 xl:space-y-5">
    {
      data.map((testimonial) => {
        return (
          <li class="break-inside-avoid">
            <Testimonial testimonial={testimonial} />
          </li>
        );
      })
    }
  </ul>
</section>
