---
import Grid from "../../../@common/Grid.astro";
import Brush from "../../../@common/Brush.astro";
import data from "../../../../data/homepage/expertises.yaml";
import BackgroundForm1 from "../../../BackgroundForm1.astro";
import Expertise from "./Expertise.astro";
---

<section class="overflow-hidden relative max-lg:pt-[331px] max-lg:mt-[-331px]">
  <div class="container">
    <Grid>
      <h2
        class="col-span-full lg:col-start-2 relative text-headline-medium text-neutral1 mb-6 lg:mb-10"
      >
        {data.title}

        <BackgroundForm1
          as="span"
          class="lg:hidden absolute z-[-1] top-[-255px] left-[135px]"
        />
      </h2>

      <ul
        class="col-span-full lg:col-start-2 lg:col-span-5 flex flex-col gap-8"
      >
        {
          data.expertises.map((expertise, index) => {
            return (
              <li class="relative">
                <Expertise expertise={expertise} />

                {index === 0 && (
                  <Brush
                    id="1"
                    class="hidden lg:block absolute top-[28px] left-[-80px] z-[-1] w-[237px] h-[281px] rotate-[136.069deg]"
                  />
                )}

                {index === 1 && (
                  <Brush
                    id="4"
                    class="max-lg:hidden absolute top-[-39px] lg:left-[300px] xl:left-[481px] z-[-1] w-[490px] lg:h-auto h-[487px]"
                  />
                )}

                {index === 2 && (
                  <Brush
                    id="1"
                    class="hidden lg:block absolute top-[-89px] left-[-102px] z-[-1] w-[222px] h-[263px] rotate-[180deg]"
                  />
                )}
              </li>
            );
          })
        }
      </ul>
    </Grid>
  </div>
</section>
