---
import CommonPageHero from "components/CommonPageHero.astro";
import Layout from "layouts/Layout.astro";
import Contact from "components/Contact.astro";
import Footer from "components/Footer.astro";
import Breadcrumb from "components/Breadcrumb.astro";
---

<Layout
  title="Page non trouvée - Team UX"
  description="Page non trouvée"
  og_title="Page non trouvée - Team UX"
  og_description="Page non trouvée"
>
  <div class="hidden md:block mb-[90px]">
    <Breadcrumb />
  </div>

  <div class="mt-[60px] lg:mt-[129px] mb-[200px] lg:mb-56">
    <CommonPageHero
      title="Page non trouvée..."
      subtitle="Oups, c’est une erreur 404 ! Le contenu que vous recherchez n'existe pas ou a été déplacé. Retournez à la <a href='/' class='text-primary underline underline-offset-[10px]'> page d'accueil</a>."
      showBackgroundForm={false}
    />
  </div>

  <div class="mb-[150px] lg:mb-[170px]">
    <Contact />
  </div>

  <Footer />
</Layout>
