---
import CommonPageHero from "../components/CommonPageHero.astro";
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Team UX ▷ Page non trouvée"
  description="Nous sommes Yuna & Daniela, un binôme de designers UX seniors. Nous adorons (dé)construire des produits complexes. ✓ UX design ✓ Éco-conception ✓ Accessibilité"
>
  <div class="mt-[60px] 2xl:mt-[129px] mb-[200px] 2xl:mb-56">
    <CommonPageHero
      title="Page non trouvée..."
      subtitle="Oups, c’est une erreur 404 ! Le contenu que vous recherchez n'existe pas ou a été déplacé. Retournez à la <a href='/' class='text-primary underline underline-offset-[4px]'> page d'accueil</a>."
      showBackgroundForm={false}
    />
  </div>

  <div class="mb-[150px] 2xl:mb-[170px]">
    <Contact />
  </div>

  <Footer />
</Layout>
