---
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact.astro";
import Hero from "../components/pages/homepage/Hero.astro";
import Expertises from "../components/pages/homepage/Expertises/index.astro";
import DerriereTeamUX from "../components/pages/homepage/DerriereTeamUX/index.astro";
import ProjectsTeasing from "../components/pages/homepage/ProjectsTeasing/index.astro";
import Testimonials from "../components/pages/homepage/Testimonials/index.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Accueil">
  <div class="mt-[60px] 2xl:mt-[129px] mb-[150px] 2xl:mb-[85px]">
    <Hero />
  </div>

  <div class="mb-[100px] 2xl:mb-[140px]">
    <Expertises />
  </div>

  <div class="mb-[100px] 2xl:mb-[140px]">
    <DerriereTeamUX />
  </div>

  <div class="mb-[140px] 2xl:mb-[100px]">
    <ProjectsTeasing />
  </div>

  <div class="mb-[200px]">
    <Testimonials />
  </div>

  <div class="mb-[150px] 2xl:mb-[170px]">
    <Contact />
  </div>

  <Footer />
</Layout>
