---
import Icon from "../@common/Icon.astro";
import Grid from "../@common/Grid.astro";
import Logo from "./Logo.astro";
import NavItemContact from "./NavItemContact.astro";
import NavItem from "./NavItem.astro";
import NavItems from "./NavItems.astro";
---

<header
  id="header"
  data-menu-opened="false"
  class="sticky z-10 top-0 isolate py-5 lg:py-0"
>
  <div class="container">
    <Grid>
      <div
        class="col-span-full relative z-10 flex items-center justify-between lg:px-0 lg:py-[22px]"
      >
        <Logo />

        <nav role="navigation" class="hidden lg:block">
          <ul class="flex items-center space-x-10">
            <li>
              <NavItem to="/">Accueil</NavItem>
            </li>
            <li>
              <NavItems
                title="Références"
                items={[
                  { title: "Projets", pathname: "/projets" },
                  { title: "Témoignages", pathname: "/temoignages" },
                ]}
              />
            </li>
            <li>
              <NavItems
                title="Team UX"
                items={[
                  { title: "Nos 2 profils", pathname: "/nos-deux-profils" },
                  { title: "Notre manifeste", pathname: "/notre-manifeste" },
                ]}
              />
            </li>
            <li>
              <NavItemContact />
            </li>
          </ul>
        </nav>

        <button
          id="menu-opener"
          class="lg:hidden flex items-center space-x-4 px-[15px] py-[11px] text-label-medium text-neutral4 bg-primary rounded-md"
          aria-expanded="false"
        >
          <span class="text-closed">Menu</span>
          <span class="text-opened">Fermer</span>
          <Icon name="cross" width={26} height={20} />
          <Icon name="hamburger" width={26} height={20} />
        </button>
      </div>
    </Grid>
  </div>
  <div
    id="mobile-menu"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-[84px] left-0 w-full h-[calc(100%-84px)] px-5 pb-5 pt-9 bg-surface2"
  >
    <nav role="navigation" class="text-headline-large">
      <ul class="flex flex-col space-y-11">
        <li>
          <NavItem to="/">Accueil</NavItem>
        </li>
        <li>
          <span class="block mb-3.5 text-body-medium-bold text-neutral1"
            >Références</span
          >
          <ul class="flex flex-col space-y-6 ml-5">
            <li>
              <NavItem to="/projets">Projets</NavItem>
            </li>
            <li>
              <NavItem to="/temoignages">Témoignages</NavItem>
            </li>
          </ul>
        </li>
        <li>
          <span class="block mb-3.5 text-body-medium-bold text-neutral1"
            >Team UX</span
          >
          <ul class="flex flex-col space-y-6 ml-5">
            <li>
              <NavItem to="/nos-deux-profils">Nos 2 profils</NavItem>
            </li>
            <li>
              <NavItem to="/notre-manifeste">Notre manifeste</NavItem>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <p class="mt-12 p-5 text-headline-small-bold rounded-[26px] bg-surface3">
      Contactez-nous à l’adresse <br />
      <a class="underline underline-offset-4" href="mailto:hello@team-ux.com"
        >hello@team-ux.com</a
      >
    </p>
  </div>
</header>

<script>
  if (!CSS.supports("animation-timeline", "scroll(y root)")) {
    import("./scripts/sticky-header.fallback");
  }

  const header = document.querySelector("#header");
  const menuButton = document.querySelector("#menu-opener");

  menuButton.addEventListener("click", () => {
    const { menuOpened } = header.dataset;

    if (menuOpened === "true") {
      header.setAttribute("data-menu-opened", "false");
      menuButton.setAttribute("aria-expanded", "false");
      document.body.classList.remove("overflow-hidden");
    } else {
      header.setAttribute("data-menu-opened", "true");
      menuButton.setAttribute("aria-expanded", "true");
      document.body.classList.add("overflow-hidden");
    }
  });
</script>

<style>
  header {
    @apply bg-surface1;

    position: -webkit-sticky;

    :global([astro-icon="cross"]),
    .text-opened {
      display: none;
    }

    &[data-menu-opened="true"] {
      @apply bg-surface2 !important;

      & #menu-opener {
        @apply space-x-2.5 text-primary bg-surface5;
      }

      #mobile-menu,
      .text-opened,
      :global([astro-icon="cross"]) {
        display: block;
      }

      .text-closed,
      :global([astro-icon="hamburger"]) {
        display: none;
      }
    }
  }

  #mobile-menu {
    :global([astro-icon="arrow_drop_down"]) {
      @apply text-primary;
    }

    :global(.nav-item) {
      display: inline;
      position: relative;
      text-decoration: none;

      &.selected:after {
        opacity: 1;
      }
    }
  }

  @screen 2xl {
    header {
      margin-left: -40px;
      margin-right: -40px;
    }
  }

  @screen lg {
    header {
      margin-left: 9px;
      margin-right: 9px;
      border-radius: 0 0 16px 16px;
    }

    #mobile-menu {
      display: none !important;
    }
  }

  @supports (animation-timeline: scroll(y root)) {
    header {
      animation-duration: 1ms;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-range: 0px 1px;
      animation-timeline: scroll(y root);
    }

    header:not([data-menu-opened="true"]) {
      animation-name: mobile-sticky-bg-white-header;
    }

    @screen lg {
      header {
        animation-name: desktop-sticky-bg-white-header;
      }
    }
  }

  @keyframes mobile-sticky-bg-white-header {
    from {
      box-shadow: none;
      background: rgba(255, 255, 255, 0);
    }

    to {
      background: rgba(255, 255, 255, 1);
      box-shadow: 0 2px 4px 0 rgba(8, 18, 79, 0.25);
    }
  }

  @keyframes desktop-sticky-bg-white-header {
    from {
      background: rgba(255, 255, 255, 0);
      box-shadow: none;
    }

    to {
      background: rgba(255, 255, 255, 1);
      box-shadow: 0 2px 4px 0 rgba(8, 18, 79, 0.25);
    }
  }
</style>
