---
import Logo from "./Logo.astro";
import NavItemContact from "./NavItemContact.astro";
import NavItemTeamUX from "./NavItemTeamUX.astro";
import NavItem from "./components/NavItem.astro";
---

<header class="container">
  <Logo />

  <nav>
    <ul>
      <li>
        <NavItem to="/">Accueil</NavItem>
      </li>
      <li>
        <NavItem to="/projects">Projets</NavItem>
      </li>
      <li>
        <NavItemTeamUX />
      </li>
      <li>
        <NavItemContact />
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    padding-block: 22px;
  }

  nav {
    margin-left: auto;
  }

  ul {
    display: flex;
    gap: 40px;
    align-items: center;
  }
</style>
