---
import Logo from "./Logo.astro";
import NavItemContact from "./NavItemContact.astro";
import NavItem from "./components/NavItem.astro";
import NavItems from "./NavItems.astro";
---

<header class="container">
  <div class="outer">
    <div class="inner">
      <Logo />

      <nav>
        <ul>
          <li>
            <NavItem to="/">Accueil</NavItem>
          </li>
          <li>
            <NavItems
              title="Références"
              items={[
                { title: "Nos projets", pathname: "/projets" },
                { title: "Témoignages", pathname: "/temoignages" },
              ]}
            />
          </li>
          <li>
            <NavItems
              title="Team UX"
              items={[
                { title: "Nos deux profils", pathname: "/nos-deux-profils" },
                { title: "Notre manifeste", pathname: "/notre-manifeste" },
              ]}
            />
          </li>
          <li>
            <NavItemContact />
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<script>
  if (!CSS.supports("animation-timeline", "scroll()")) {
    import("./scripts/sticky-header.fallback");
  }
</script>

<style>
  @keyframes sticky-bg-white-header {
    from {
      background: rgba(255, 255, 255, 0);
    }

    to {
      background: rgba(255, 255, 255, 1);
      box-shadow: 0 2px 4px 0 rgba(8, 18, 79, 0.25);
    }
  }

  header {
    z-index: 1;
    position: sticky;
    top: 0;
  }

  .outer {
    margin-inline: -40px;
    border-radius: 0 0 16px 16px;
    animation: sticky-bg-white-header 1s linear forwards;
    animation-timeline: scroll();
    animation-range: 0px 1px;
  }

  .inner {
    display: flex;
    align-items: center;
    padding: 22px 40px;
  }

  nav {
    margin-left: auto;
  }

  ul {
    display: flex;
    gap: 40px;
    align-items: center;
  }
</style>
