---
import Icon from "../@common/Icon.astro";

const { pathname } = Astro.url;

const href = pathname === "/" ? "#" : "/";

const htmlAttributes =
  pathname === "/"
    ? { title: "Retour en haut de page" }
    : { title: "Retour à l’accueil" };
---

<a id="logo" href={href} {...htmlAttributes}>
  <Icon
    role="img"
    aria-label="Retour à l’accueil"
    focusable="true"
    aria-hidden="false"
    name="logo"
  />
</a>

<style>
  :global([astro-icon="logo"]) {
    width: 170px;
    height: 36px;

    @screen lg {
      width: 189px;
      height: 40px;
    }
  }
</style>
