---
import Icon from "../@common/Icon.astro";

const { pathname } = Astro.url;

const HTMLTag = pathname === "/" ? "div" : "a";
const htmlAttributes = pathname === "/" ? {} : { href: "/" };
---

<HTMLTag {...htmlAttributes} class="logo">
  <Icon width="56px" height="40px" name="logo" />
  <span>Team UX</span>
</HTMLTag>

<style>
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;

    & span {
      @apply text-primary;

      font-size: 28px;
      letter-spacing: 0.42px;
      line-height: normal;
      font-weight: 700;
    }
  }
</style>
