<a href="#contact">Contact</a>

<style>
  @reference '../../styles/base.css';

  a {
    padding: 6px 18px;
    border-radius: 100px;
    background-color: var(--color-surface3);

    &:hover {
      background-color: var(--color-surface4);
    }

    &:focus {
      @apply outline-[3px] outline-offset-[2px] outline-secondary;
    }
  }
</style>
