<a href="#contact">Contact</a>

<style>
  a {
    @apply bg-surface3 hover:bg-surface4;

    padding: 6px 18px;
    border-radius: 100px;

    &:focus {
      @apply outline outline-offset-[2px] outline-[3px] outline-secondary;
    }
  }
</style>
