---
import Grid from "../../@common/Grid.astro";
import data from "../../../data/homepage/temoignages.yaml";
import CallToAction from "../../@common/CallToAction.astro";
import Testimonial from "../../Testimonial.astro";
---

<section class="container">
  <h2 class="text-headline-medium text-neutral1 mb-10">{data.title}</h2>
  <Grid as="ul">
    {
      data.testimonials.map((testimonial) => {
        return (
          <li class="xl:col-span-4">
            <Testimonial testimonial={testimonial} />
          </li>
        );
      })
    }
  </Grid>
  <div class="flex justify-center mt-[60px]">
    <CallToAction href="/temoignages" type="secondary" rightIcon="forward">
      {data.callToAction.label}
    </CallToAction>
  </div>
</section>
