---
const props = Astro.props;

const cssClasses = [
  "w-[1159px]",
  "h-[586px]",
  "bg-surface2",
  "rounded-[1000px]",
  props.class,
];
---

<div role="presentation" class:list={cssClasses}></div>
