---
import Icon from "./@common/Icon.astro";

const { pathname } = Astro.url;

const urlPageTitles = new Map([
  ["/projets", "Projets"],
  ["/nos-deux-profils", "Nos deux profils"],
  ["/notre-manifeste", "Notre manifeste"],
  ["/temoignages", "Témoignages"],
  ["/mentions-legles", "Mentions légales"],
  ["/plan-du-site", "Plan du site"],
]);
---

<nav aria-label="Breadcrumb" class="container">
  <ul>
    <li>
      <a href="/">Accueil</a>
      <Icon name="chevron_right_breadcrumb" width="16" height="16" />
    </li>

    {
      urlPageTitles.has(pathname) && (
        <>
          {["/nos-deux-profils", "/notre-manifeste"].includes(pathname) && (
            <li>
              <span>Team UX</span>
              <Icon name="chevron_right_breadcrumb" width="16" height="16" />
            </li>
          )}

          {["/projets", "/temoignages"].includes(pathname) && (
            <li>
              <span>Références</span>
              <Icon name="chevron_right_breadcrumb" width="16" height="16" />
            </li>
          )}
          <li>
            <span aria-current="page">{urlPageTitles.get(pathname)}</span>
          </li>
        </>
      )
    }
  </ul>
</nav>

<style>
  ul {
    @apply text-label-small;

    display: flex;
    align-items: center;
    gap: 4px;

    li {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    a {
      @apply text-secondary;
    }

    span {
      @apply text-neutral1;
    }
  }
</style>
