---
import Icon from "./@common/Icon.astro";

const { pathname } = Astro.url;

const currentPath = pathname.replaceAll("/", "");

const urlPageTitles = new Map([
  ["projets", "Projets"],
  ["nos-deux-profils", "Nos deux profils"],
  ["notre-manifeste", "Notre manifeste"],
  ["temoignages", "Témoignages"],
  ["mentions-legles", "Mentions légales"],
  ["plan-du-site", "Plan du site"],
  ["glossaire-ux-design", "Glossaire de l’UX design"],
]);
---

<nav aria-label="Breadcrumb" class="container hidden lg:block">
  <ul class="text-label-small">
    <li>
      <a href="/">Accueil</a>
      <Icon name="chevron_right_breadcrumb" width={16} height={16} />
    </li>

    {
      currentPath.match(/(nos-deux-profils|notre-manifeste)/) && (
        <li>
          <span>Team UX</span>
          <Icon name="chevron_right_breadcrumb" width={16} height={16} />
        </li>
      )
    }

    {
      currentPath.match(/(projets|temoignages)/) && (
        <li>
          <span>Références</span>
          <Icon name="chevron_right_breadcrumb" width={16} height={16} />
        </li>
      )
    }

    <li>
      <span aria-current="page">{urlPageTitles.get(currentPath)}</span>
    </li>
  </ul>
</nav>

<style>
  ul {
    display: flex;
    align-items: center;
    gap: 4px;

    li {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    a {
      @apply text-secondary;
    }

    span {
      @apply text-neutral1;
    }
  }
</style>
