---
import Icon from "./@common/Icon.astro";
import Grid from "./@common/Grid.astro";

const { pathname } = Astro.url;

const currentPath = pathname.replaceAll("/", "");

const urlPageTitles = new Map([
  ["projets", "Projets"],
  ["nos-deux-profils", "Nos 2 profils"],
  ["notre-manifeste", "Notre manifeste"],
  ["temoignages", "Témoignages"],
  ["mentions-legales", "Mentions légales"],
  ["plan-du-site", "Plan du site"],
  ["glossaire-ux-design", "Glossaire de l’UX design"],
]);
---

<nav id="breadcrumb" aria-label="Breadcrumb" class="container">
  <Grid>
    <ul class="col-span-full text-label-small">
      <li>
        <a href="/" class="hover:underline underline-offset-[4px]">Accueil</a>
        <Icon name="chevron_right_breadcrumb" width={16} height={16} />
      </li>

      {
        currentPath.match(/(nos-deux-profils|notre-manifeste)/) && (
          <li>
            <span>Team UX</span>
            <Icon name="chevron_right_breadcrumb" width={16} height={16} />
          </li>
        )
      }

      {
        currentPath.match(/(projets|temoignages)/) && (
          <li>
            <span>Références</span>
            <Icon name="chevron_right_breadcrumb" width={16} height={16} />
          </li>
        )
      }

      <li>
        <span aria-current="page"
          >{
            urlPageTitles.has(currentPath)
              ? urlPageTitles.get(currentPath)
              : "Page non trouvée"
          }</span
        >
      </li>
    </ul>
  </Grid>
</nav>

<style>
  ul {
    display: flex;
    align-items: center;
    gap: 4px;

    li {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    a {
      @apply text-secondary;
    }

    span {
      @apply text-neutral1;
    }
  }
</style>
