---
import Grid from "./@common/Grid.astro";
import BackgroundForm1 from "./BackgroundForm1.astro";

interface Props {
  title: string;
  subtitle: string;
  showBackgroundForm?: boolean;
  class?: string;
}

const { title, subtitle, class: cssClasses } = Astro.props;

const { showBackgroundForm = true } = Astro.props;
const backgroundFormCSSClasses = showBackgroundForm
  ? [
      "overflow-hidden",
      "pb-[178px]",
      "mb-[-178px]",
      "sm:pt-[76px]",
      "sm:mt-[-76px]",
      "lg:pt-[60px]",
      "lg:mt-[-60px]",
      "lg:pb-[415px]",
      "lg:mb-[-415px]",
      "2xl:pt-[255px]",
      "2xl:mt-[-255px]",
      "2xl:pb-[439px]",
      "2xl:mb-[-439px]",
    ]
  : [];
---

<section class:list={[backgroundFormCSSClasses, cssClasses]}>
  <div class="relative container">
    {
      showBackgroundForm && (
        <BackgroundForm1 class="absolute z-[-1] top-[100px] right-[-370px] sm:top-0 sm:right-[-60px] lg:top-[50px] lg:right-[-250px] 2xl:top-[-125px] 2xl:right-[-540px]" />
      )
    }
    <Grid class="gap-y-5 lg:gap-y-6">
      <h1
        class="col-span-full lg:col-start-2 lg:col-span-full text-display-large lg:text-display-medium"
      >
        {title}
      </h1>
      {
        subtitle && (
          <h2
            class="col-span-full lg:col-start-2 lg:col-span-6 text-body-large lg:text-body-extra-large"
            set:html={subtitle}
          />
        )
      }
    </Grid>
  </div>
</section>
