---
import Grid from "./@common/Grid.astro";
import BackgroundForm1 from "./BackgroundForm1.astro";

interface Props {
  title: string;
  subtitle: string;
  showBackgroundForm?: boolean;
  class?: string;
}

const { title, subtitle, class: cssClasses } = Astro.props;

const { showBackgroundForm = true } = Astro.props;
const backgroundFormCSSClasses = showBackgroundForm
  ? [
      "overflow-hidden",
      "pb-[178px]",
      "mb-[-178px]",
      "2xl:pt-[255px]",
      "2xl:pb-[439px]",
      "2xl:mt-[-255px]",
      "2xl:mb-[-439px]",
    ]
  : [];
---

<section class:list={[backgroundFormCSSClasses, cssClasses]}>
  <div class="relative container">
    {
      showBackgroundForm && (
        <BackgroundForm1 class="absolute z-[-1] top-[100px] right-[-370px] 2xl:top-[-125px] 2xl:right-[-540px] w-[600px] h-[303px]" />
      )
    }
    <Grid class="gap-y-5 2xl:gap-y-6">
      <h1
        class="col-span-full 2xl:col-start-2 2xl:col-span-full text-display-large 2xl:text-display-medium"
      >
        {title}
      </h1>
      {
        subtitle && (
          <h2
            class="col-span-full 2xl:col-start-2 2xl:col-span-6 text-body-large 2xl:text-body-extra-large"
            set:html={subtitle}
          />
        )
      }
    </Grid>
  </div>
</section>
