---
import Grid from "./@common/Grid.astro";
import Brush from "./@common/Brush.astro";
import BackgroundForm1 from "./BackgroundForm1.astro";
import ButtonCopyText from "./ButtonCopyText.astro";
import CallToAction from "./@common/CallToAction.astro";

interface Props {
  class?: string;
  showBackgroundForm?: boolean;
}

const { class: cssClasses, showBackgroundForm = true } = Astro.props;
const backgroundFormCSSClasses = showBackgroundForm
  ? [
      "overflow-hidden",
      "pt-[40px]",
      "pb-[62px]",
      "mt-[-40px]",
      "mb-[-62px]",
      "lg:pt-[353px]",
      "lg:pb-[168px]",
      "lg:mt-[-353px]",
      "lg:mb-[-168px]",
    ]
  : [];
---

<section
  id="contact"
  class:list={[backgroundFormCSSClasses, "scroll-mt-[185px]", cssClasses]}
>
  <div class="container">
    <Grid>
      <div class="col-span-full lg:col-span-11 2xl:col-start-2 2xl:col-span-8">
        <div
          class="relative px-5 pb-10 pt-9 lg:p-14 bg-surface3 rounded-[26px]"
        >
          {
            showBackgroundForm && (
              <BackgroundForm1 class="hidden lg:block absolute z-[-1] lg:top-[-25px] lg:right-[-540px] 2xl:top-[-205px] 2xl:right-[-860px]" />
            )
          }

          <Brush
            id="2"
            class="absolute z-[-1] top-[-35px] lg:top-[-80px] left-[15px] w-[232px] h-[202px] rotate-[8.837deg]"
          />
          <Brush
            id="2"
            class="absolute z-[-1] right-[5px] bottom-[-50px] lg:right-[-101px] lg:bottom-[-66px] w-[194px] h-[168px] lg:w-[355px] lg:h-[308px] rotate-[13deg] lg:rotate-0"
          />

          <h2 class="mb-10 lg:mb-6 text-headline-small lg:text-headline-medium">
            Envie de travailler avec nous ?
          </h2>
          <p
            class="lg:mb-10 text-headline-extra-large lg:text-display-small leading-[normal]"
          >
            Contactez-nous à l’adresse
            <CallToAction
              class="underline !text-inherit !underline-offset-[10px] hover:!text-primary"
              variant="transparent"
              type="secondary"
              href="mailto:hello@team-ux.com"
            >
              hello@team-ux.com
            </CallToAction>
          </p>
          <div class="hidden lg:block">
            <ButtonCopyText
              type="secondary"
              textToCopy="hello@team-ux.com"
              toastCopySuccessText="Notre adresse e-mail a été copiée dans votre presse-papiers !"
            >
              Copier notre adresse email dans votre presse-papiers
            </ButtonCopyText>
          </div>
        </div>
      </div>
    </Grid>
  </div>
</section>
