---
import Grid from "./@common/Grid.astro";
import Brush from "./@common/Brush.astro";
import BackgroundForm1 from "./BackgroundForm1.astro";
import ButtonCopyText from "./ButtonCopyText.astro";

interface Props {
  class?: string;
  showBackgroundForm?: boolean;
}

const { class: cssClasses, showBackgroundForm = true } = Astro.props;
const backgroundFormCSSClasses = showBackgroundForm
  ? ["overflow-hidden", "2xl:mt-[-100px]", "pt-[353px]", "pb-[168px]"]
  : [];
---

<section class:list={[backgroundFormCSSClasses, cssClasses]}>
  <div id="contact" class="container scroll-mt-[50vh]">
    <Grid>
      <div class="2xl:col-start-2 2xl:col-span-8">
        <div class="relative p-14 bg-surface3 rounded-[26px]">
          {
            showBackgroundForm && (
              <BackgroundForm1 class="absolute z-[-1] top-[-205px] right-[-860px] rotate-[-31deg]" />
            )
          }

          <Brush
            id="2"
            class="absolute z-[-1] top-[-60px] left-[15px] w-[232px] h-[202px] rotate-[8.837deg]"
          />
          <Brush
            id="2"
            class="absolute z-[-1] right-[-101px] bottom-[-66px] w-[355px] h-[308px]"
          />

          <h2 class="text-headline-medium mb-6">
            Envie de travailler avec nous ?
          </h2>
          <p class="mb-10 text-display-small leading-[normal]">
            Contactez-nous à l’adresse <a
              class="block underline underline-offset-[10px]"
              href="mailto:hello@team-ux.com">hello@team-ux.com</a
            >
          </p>
          <ButtonCopyText
            type="secondary"
            textToCopy="hello@team-ux.com"
            toastCopySuccessText="Notre adresse e-mail a été copiée dans votre presse-papiers !"
          >
            Copier notre adresse email dans votre presse-papiers
          </ButtonCopyText>
        </div>
      </div>
    </Grid>
  </div>
</section>
