---
import Grid from "./@common/Grid.astro";
import Brush from "./@common/Brush.astro";
import BackgroundForm1 from "./BackgroundForm1.astro";
import ButtonCopyText from "./ButtonCopyText.astro";

interface Props {
  class?: string;
  showBackgroundForm?: boolean;
}

const { class: cssClasses, showBackgroundForm = true } = Astro.props;
const backgroundFormCSSClasses = showBackgroundForm
  ? ["overflow-hidden", "2xl:mt-[-100px]", "2xl:pt-[353px]", "2xl:pb-[168px]"]
  : [];
---

<section class:list={[backgroundFormCSSClasses, cssClasses]}>
  <div id="contact" class="container mb-[150px] 2xl:mb-0 scroll-mt-[50vh]">
    <Grid>
      <div class="col-span-full 2xl:col-start-2 2xl:col-span-8">
        <div class="relative px-5 py-10 2xl:p-14 bg-surface3 rounded-[26px]">
          {
            showBackgroundForm && (
              <BackgroundForm1 class="hidden 2xl:block absolute z-[-1] top-[-205px] right-[-860px]" />
            )
          }

          <Brush
            id="2"
            class="hidden 2xl:block absolute z-[-1] top-[-60px] left-[15px] w-[232px] h-[202px] rotate-[8.837deg]"
          />
          <Brush
            id="2"
            class="hidden 2xl:block absolute z-[-1] right-[-101px] bottom-[-66px] w-[355px] h-[308px]"
          />

          <h2
            class="mb-14 2xl:mb-6 text-headline-small 2xl:text-headline-medium"
          >
            Envie de travailler avec nous ?
          </h2>
          <p
            class="2xl:mb-10 text-headline-extra-large 2xl:text-display-small leading-[normal]"
          >
            Contactez-nous à l’adresse <a
              class="block underline underline-offset-[10px]"
              href="mailto:hello@team-ux.com">hello@team-ux.com</a
            >
          </p>
          <div class="hidden 2xl:block">
            <ButtonCopyText
              type="secondary"
              textToCopy="hello@team-ux.com"
              toastCopySuccessText="Notre adresse e-mail a été copiée dans votre presse-papiers !"
            >
              Copier notre adresse email dans votre presse-papiers
            </ButtonCopyText>
          </div>
        </div>
      </div>
    </Grid>
  </div>
</section>
