---
import Brush from "./@common/Brush.astro";
import PictureYuna from "./Yuna.astro";
import PictureDaniela from "./Daniela.astro";
interface Props {
  variant: "small" | "big";
}

const { variant, ...props } = Astro.props;
---

{
  variant === "small" && (
    <div class="isolate relative">
      <Brush
        id="1"
        width={210}
        height={249}
        class="absolute z-0 top-0 left-0 rotate-[-90deg] translate-x-[20px] translate-y-[-20px]"
      />
      <div class="flex justify-center space-x-3">
        <PictureYuna width={85} height={210} class="relative z-10" />
        <PictureDaniela width={85} height={210} class="relative z-10" />
      </div>
    </div>
  )
}

{
  variant === "big" && (
    <div class="relative isolate">
      <Brush
        id="1"
        width={352}
        height={418}
        class="absolute z-0 top-[-30px] left-0 rotate-[-165.467deg] translate-x-[-10px]"
      />

      <div class="flex space-x-4">
        <PictureYuna width={156} height={384} class="relative z-10" />
        <PictureDaniela width={156} height={384} class="relative z-10" />
      </div>
    </div>
  )
}
