---
import Brush from "./@common/Brush.astro";
import PictureYuna from "./Yuna.astro";
import PictureDaniela from "./Daniela.astro";
interface Props {
  variant: "small" | "big";
}

const { variant, ...props } = Astro.props;
---

{
  variant === "small" && (
    <div class="isolate relative">
      <Brush
        id={1}
        class="absolute z-0 top-0 left-0 w-[210px] h-[249px] rotate-[-90deg] translate-x-[20px] translate-y-[-20px]"
      />
      <div class="flex justify-center space-x-3">
        <PictureYuna class="relative z-10 w-[85px] h-[210px] aspect-[13/32]" />
        <PictureDaniela class="relative z-10 w-[85px] h-[210px] aspect-[13/32]" />
      </div>
    </div>
  )
}

{
  variant === "big" && (
    <div class="relative isolate">
      <Brush
        id={1}
        class="absolute z-0 top-[-30px] left-0 w-[352] h-[418] rotate-[-165.467deg] translate-x-[-10px]"
        loading="eager"
      />

      <div class="flex space-x-4">
        <PictureYuna
          class="relative z-10 w-[156px] aspect-[13/32]"
          loading="eager"
        />
        <PictureDaniela
          class="relative z-10 w-[156px] aspect-[13/32]"
          loading="eager"
        />
      </div>
    </div>
  )
}
