---
import Grid from "./@common/Grid.astro";
import CallToAction from "./@common/CallToAction.astro";
---

<footer class="container mb-[60px] 2xl:mb-[70px]">
  <Grid as="nav" class="gap-y-5">
    <div class="col-span-full 2xl:col-start-2 2xl:col-span-2 mb-2.5 2xl:mb-0">
      <CallToAction
        href="https://www.linkedin.com/company/team-ux/"
        target="_blank"
        rightIcon="open_in_new"
        type="primary"
        variant="transparent"
        class="!text-label-large 2xl:!text-label-medium-bold"
      >
        Team UX sur LinkedIn
      </CallToAction>
    </div>
    <div class="col-span-full 2xl:col-span-2">
      <ul class="flex flex-col gap-6 2xl:gap-4">
        <li>
          <CallToAction
            href="/plan-du-site"
            type="secondary"
            variant="transparent"
          >
            Plan du site
          </CallToAction>
        </li>
        <li>
          <CallToAction
            href="/mentions-legales"
            type="secondary"
            variant="transparent"
          >
            Mentions légales
          </CallToAction>
        </li>
      </ul>
    </div>
    <div class="col-span-full 2xl:col-span-2">
      <ul class="flex flex-col gap-6 2xl:gap-4">
        <li>
          <CallToAction
            href="/glossaire-ux-design"
            type="secondary"
            variant="transparent"
          >
            Glossaire UX
          </CallToAction>
        </li>
        <li>
          <CallToAction
            href="/demarche-eco-conception"
            type="secondary"
            variant="transparent"
          >
            Démarche d’éco-conception
          </CallToAction>
        </li>
      </ul>
    </div>
  </Grid>
</footer>
