---
import Grid from "./@common/Grid.astro";
import CallToAction from "./@common/CallToAction.astro";
import NavItem from "./Header/components/NavItem.astro";
---

<footer id="footer" class="container mb-[60px] 2xl:mb-[70px]">
  <Grid as="nav" class="gap-y-5">
    <div class="col-span-full 2xl:col-start-2 2xl:col-span-2 mb-2.5 2xl:mb-0">
      <CallToAction
        href="https://www.linkedin.com/company/team-ux/"
        target="_blank"
        rightIcon="open_in_new"
        type="primary"
        variant="transparent"
        class="!text-label-large 2xl:!text-label-medium-bold"
      >
        Team UX sur LinkedIn
      </CallToAction>
    </div>
    <nav class="col-span-full 2xl:col-span-2">
      <ul class="flex flex-col gap-6 2xl:gap-4">
        <li>
          <NavItem to="/plan-du-site" class="">Plan du site</NavItem>
        </li>
        <li>
          <NavItem to="/mentions-legales">Mentions légales</NavItem>
        </li>
      </ul>
    </nav>
    <div class="col-span-full 2xl:col-span-2">
      <ul class="flex flex-col gap-6 2xl:gap-4">
        <li>
          <NavItem to="/glossaire-ux-design">Glossaire UX</NavItem>
        </li>
        <li>
          <NavItem to="/demarche-eco-conception">
            Démarche d’éco-conception
          </NavItem>
        </li>
      </ul>
    </div>
  </Grid>
</footer>

<style>
  footer :global(.nav-item) {
    width: fit-content;

    &:after {
      bottom: -2px !important;
    }

    &:hover:not(.selected) {
      @apply text-secondary;

      &:after {
        @apply bg-secondary;
      }
    }
  }
</style>
