---
import Grid from "./@common/Grid.astro";
import CallToAction from "./@common/CallToAction.astro";
import NavItem from "./Header/components/NavItem.astro";
---

<footer id="footer" class="container mb-[60px] lg:mb-[70px]">
  <Grid as="nav" class="gap-y-10">
    <div class="col-span-full lg:col-start-2 lg:col-span-3 mb-2.5 lg:mb-0">
      <CallToAction
        href="https://www.linkedin.com/company/team-ux/"
        target="_blank"
        rightIcon="open_in_new"
        type="primary"
        variant="transparent"
        class="!text-label-large lg:!text-label-medium-bold"
      >
        Team UX sur LinkedIn
      </CallToAction>
    </div>
    <nav class="col-span-full lg:col-span-2">
      <ul class="flex flex-col gap-10 lg:gap-4">
        <li>
          <NavItem class="text-label-large" to="/plan-du-site">
            Plan du site
          </NavItem>
        </li>
        <li>
          <NavItem class="text-label-large" to="/mentions-legales">
            Mentions légales
          </NavItem>
        </li>
      </ul>
    </nav>
    <div class="col-span-full lg:col-span-2">
      <ul class="flex flex-col gap-10 lg:gap-4">
        <li>
          <NavItem class="text-label-large" to="/glossaire-ux-design">
            Glossaire de l’UX design
          </NavItem>
        </li>
        <li>
          <NavItem class="text-label-large" to="/demarche-eco-conception">
            Démarche d’éco-conception
          </NavItem>
        </li>
      </ul>
    </div>
  </Grid>
</footer>

<style>
  footer :global(.nav-item) {
    width: fit-content;
    padding: 0;

    &:after {
      bottom: -2px !important;
    }

    &:hover:not(.selected) {
      :global(.title) {
        @apply text-secondary !important;
      }

      &:after {
        @apply bg-secondary;

        bottom: -2px;
      }
    }
  }
</style>
