---
import Grid from "./@common/Grid.astro";
import CallToAction from "./@common/CallToAction.astro";

interface Props {
  class?: string;
}

const { class: cssClasses } = Astro.props;
---

<footer class:list={["container", "mb-[70px]", cssClasses]}>
  <Grid as="nav">
    <div class="2xl:col-start-2 2xl:col-span-2">
      <CallToAction
        href="https://www.linkedin.com/company/team-ux/"
        target="_blank"
        rightIcon="open_in_new"
        type="primary"
        variant="transparent"
      >
        Team UX sur LinkedIn
      </CallToAction>
    </div>
    <div class="2xl:col-span-2">
      <ul class="flex flex-col gap-4">
        <li>
          <CallToAction
            href="/plan-du-site"
            type="secondary"
            variant="transparent"
          >
            Plan du site
          </CallToAction>
        </li>
        <li>
          <CallToAction
            href="/mentions-legales"
            type="secondary"
            variant="transparent"
          >
            Mentions légales
          </CallToAction>
        </li>
      </ul>
    </div>
    <div class="2xl:col-span-2">
      <ul class="flex flex-col gap-4">
        <li>
          <CallToAction
            href="/glossaire-ux-design"
            type="secondary"
            variant="transparent"
          >
            Glossaire UX
          </CallToAction>
        </li>
        <li>
          <CallToAction
            href="/demarche-eco-conception"
            type="secondary"
            variant="transparent"
          >
            Démarche d’éco-conception
          </CallToAction>
        </li>
      </ul>
    </div>
  </Grid>
</footer>
