---
import Icon from "./@common/Icon.astro";

const cssClasses = [
  "fixed",
  "flex",
  "items-center",
  "top-[calc(100%+50px)]",
  "left-1/2",
  "w-[calc(100%-40px)]",
  "sm:w-auto",
  "space-x-1",
  "sm:space-x-2",
  "p-4",
  "sm:px-8",
  "sm:py-4",
  "text-label-medium",
  "sm:text-body-medium",
  "rounded-md",
  "bg-surface6",
  "shadow-[0_2px_4px_0_rgba(8,18,79,0.25)]",
];
---

<div id="toast" role="alert" aria-live="assertive" class:list={cssClasses}>
  <Icon name="check_circle" width={24} height={24} />
  <span class="flex-1"></span>
</div>

<style>
  #toast {
    transform: translateX(-50%) translateY(100%) translateZ(0);
    animation-duration: 6s;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

    &.show {
      animation-name: showToastCopyTextSuccess;
    }

    &.hide {
      animation-duration: 300ms;
      animation-name: hideToastCopyTextSuccess;
    }
  }

  @keyframes showToastCopyTextSuccess {
    0% {
      transform: translateX(-50%) translateY(0) translateZ(0);
    }

    10% {
      transform: translateX(-50%) translateY(calc(-130px - 100%)) translateZ(0);
    }

    90% {
      transform: translateX(-50%) translateY(calc(-130px - 100%)) translateZ(0);
    }

    100% {
      transform: translateX(-50%) translateY(0) translateZ(0);
    }
  }

  @keyframes hideToastCopyTextSuccess {
    from {
      transform: translateX(-50%) translateY(calc(-130px - 100%)) translateZ(0);
    }

    to {
      transform: translateX(-50%) translateY(0) translateZ(0);
    }
  }
</style>
