---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import Contact from "../../components/Contact.astro";
import Hero from "../../components/pages/nos-deux-profils/Hero.astro";
import Profiles from "../../components/pages/nos-deux-profils/Profiles.astro";
import ItsAMatch from "../../components/pages/nos-deux-profils/ItsAMatch.astro";
---

<Layout title="Nos 2 profils">
  <div class="hidden lg:block md:mb-[90px]">
    <Breadcrumb />
  </div>
  <div class="max-md:mt-[60px] mb-20 2xl:mb-[140px]">
    <Hero />
  </div>

  <div class="mb-[100px] 2xl:mb-[140px]">
    <Profiles />
  </div>

  <div class="mb-[180px] 2xl:mb-[160px]">
    <ItsAMatch />
  </div>

  <div class="mb-[150px] 2xl:mb-[170px]">
    <Contact />
  </div>

  <Footer />
</Layout>
