---
import Footer from "../../components/Footer.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import Contact from "../../components/Contact.astro";
import Hero from "../../components/pages/temoignages/Hero.astro";
import Testimonials from "../../components/pages/temoignages/Testimonials.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Team UX - Témoignages UX design"
  description="Nos clientes et clients nous ont adressé de beaux témoignages suite à nos collaborations pour des projets d’UX design, de design accessible ou d’éco-conception."
>
  <div class="hidden lg:block lg:mb-[90px]">
    <Breadcrumb />
  </div>

  <div class="max-sm:mt-[60px] mb-20 2xl:mb-[140px]">
    <Hero />
  </div>

  <div class="mb-[200px]">
    <Testimonials />
  </div>

  <div class="mb-[150px] 2xl:mb-[170px]">
    <Contact />
  </div>

  <Footer />
</Layout>
