---
import Grid from "../../../components/@common/Grid.astro";
import Brush from "../../../components/@common/Brush.astro";
import Expertise from "./Expertise.astro";
import data from "../../../data/homepage/expertises.yaml";
---

<section class="relative container mb-[140px]">
  <Grid>
    <h2
      class="xl:col-start-2 xl:col-span-full text-headline-medium text-neutral1 mb-10"
    >
      {data.title}
    </h2>

    <ul class="xl:col-start-2 xl:col-span-5 flex flex-col gap-8">
      {
        data.expertises.map((expertise) => {
          return (
            <li>
              <Expertise expertise={expertise} />
            </li>
          );
        })
      }
    </ul>
  </Grid>

  <Brush
    id="1"
    class="absolute top-0 z-[-1] w-[237px] h-[281px] rotate-[136.069deg] translate-x-[45px] translate-y-[90px]"
    role="presentation"
  />

  <Brush
    id="4"
    class="absolute top-0 z-[-1] w-[490px] h-[487px] translate-x-[600px] translate-y-[720px]"
    role="presentation"
  />

  <Brush
    id="1"
    class="absolute top-0 z-[-1] w-[222px] h-[263px] translate-x-[-5px] translate-y-[1400px]"
    role="presentation"
  />
</section>
