---
import Grid from "../../@common/Grid.astro";
import CallToAction from "../../@common/CallToAction.astro";
import BackgroundForm1 from "../../BackgroundForm1.astro";
import DuoDeChoc from "../../DuoDeChoc.astro";
---

<section class="overflow-hidden lg:mb-[-165px] lg:pb-[165px]">
  <div class="container">
    <Grid>
      <h1
        class="col-span-full lg:col-span-10 2xl:col-start-2 2xl:col-span-9 mb-10 lg:mb-8"
      >
        Nous sommes Yuna & Daniela, <span class="text-primary"
          >l’extension UX freelance</span
        > de votre équipe produit
      </h1>
      <div class="col-span-full lg:col-span-8 2xl:col-start-2 2xl:col-span-6">
        <p class="our-work mb-5 text-body-large lg:text-body-extra-large">
          Binôme de designers UX/UI seniors, notre travail est reconnu pour son
          efficacité et sa pertinence, en particulier sur les produits
          numériques dits complexes que nous adorons construire ou déconstruire.
        </p>

        <p class="text-body-large-bold lg:text-body-large mb-10">
          Nous livrons un design accessible et le plus sobre possible.
        </p>

        <CallToAction href="/projets" rightIcon="forward">
          Découvrir nos projets
        </CallToAction>
      </div>
      <div class="max-lg:hidden col-start-9 col-span-3">
        <div class="relative lg:mt-[250px] 2xl:mt-[67px]">
          <BackgroundForm1
            class="max-lg:hidden absolute top-[-184px] right-[-580px] z-[-1]"
          />

          <DuoDeChoc variant="big" />
        </div>
      </div>
    </Grid>
  </div>
</section>

<style>
  .our-work {
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;

    @screen lg {
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px;
    }

    @screen 2xl {
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 38px;
    }
  }

  h1 {
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;

    @screen lg {
      font-size: 52px;
      font-style: normal;
      font-weight: 700;
      line-height: 65px;
    }

    @screen 2xl {
      font-size: 72px;
      font-style: normal;
      font-weight: 700;
      line-height: 84px;
    }
  }
</style>
