---
import Grid from "../../@common/Grid.astro";
import CallToAction from "../../@common/CallToAction.astro";
import BackgroundForm1 from "../../BackgroundForm1.astro";
import DuoDeChoc from "../../DuoDeChoc.astro";
---

<section class="overflow-hidden lg:mb-[-165px] lg:pb-[165px]">
  <div class="container">
    <Grid>
      <h1
        class="col-span-full lg:col-start-2 lg:col-span-9 mb-10 lg:mb-8 text-display-large"
      >
        Nous sommes Yuna & Daniela, un binôme de <span class="text-primary"
          >designers UX seniors en freelance</span
        >
      </h1>
      <div class="col-span-full lg:col-start-2 lg:col-span-6">
        <p class="our-work mb-5 text-body-large lg:text-body-extra-large">
          Notre travail est reconnu pour son efficacité et sa pertinence, en
          particulier sur les produits numériques dits complexes que nous
          adorons construire ou déconstruire.
        </p>

        <p class="text-body-large-bold lg:text-body-large mb-10">
          Nous livrons un design accessible et le plus sobre possible.
        </p>

        <CallToAction href="/projets" rightIcon="forward">
          Découvrir nos projets
        </CallToAction>
      </div>
      <div class="max-lg:hidden col-start-9 col-span-3">
        <div class="relative mt-[67px]">
          <BackgroundForm1
            class="max-2xl:hidden absolute top-[-184px] right-[-580px] z-[-1]"
          />

          <DuoDeChoc variant="big" />
        </div>
      </div>
    </Grid>
  </div>
</section>
