---
import CommonPageHero from "components/CommonPageHero.astro";
---

<div>
  <CommonPageHero
    title="Glossaire de l’UX design"
    subtitle="Vous trouvez que le vocabulaire de l'UX design est dense ? Pas de panique, nous avons rédigé ce glossaire pour clarifier des termes que nous utilisons parfois pour parler d’un outil, d’un livrable ou d’une méthode de travail."
    showBackgroundForm={false}
  />
</div>

<style>
  @reference '../../../styles/base.css';

  div :global(h2) {
    @apply col-span-full lg:col-start-2 lg:col-span-7;
  }
</style>
