---
import Layout from "../../layouts/Layout.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import Contact from "../../components/Contact.astro";
import AllProjects from "../../components/pages/projets/AllProjects/index.astro";
import Hero from "../../components/pages/projets/Hero.astro";
import Footer from "../../components/Footer.astro";
import ScrollToTop from "../../components/ScrollToTop/index.astro";
---

<Layout
  title="Team UX - Nos projets UX design"
  description="Découvrez une sélection de nos collaborations UX. Quelques références de projets de design UX, de conception accessible et d’éco-conception."
>
  <div class="hidden md:block mb-[90px]">
    <Breadcrumb />
  </div>

  <div class="max-md:mt-[60px] mb-20 lg:mb-[140px]">
    <Hero />
  </div>

  <div class="mb-40 lg:mb-[170px]">
    <AllProjects />
  </div>

  <div class="mb-[150px] lg:mb-[170px]">
    <Contact />
  </div>

  <Footer />

  <ScrollToTop />
</Layout>
